{% extends 'base.html.twig' %}

{% block title %}V.parrot - commentaire{% endblock %}

{% block body %}
<h1>Laissez un avi</h1>
{{ form_start(testimonyForm) }}
{{ form_end(testimonyForm) }}
{% endblock %}
