{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h1>Formulaire de création d'offre</h1>
{{ form_start(carForm) }}
{{ form_end(carForm) }}
{% endblock %}
