{% extends 'base.html.twig' %}

{% block title %}V.parrot - contact!{% endblock %}

{% block body %}
<h1>Formulaire de contact</h1>
{{ form_start(contactForm) }}
{{ form_end(contactForm) }}
{% endblock %}
